In [12]:
%pip install pybaseball -q

In [13]:
import pybaseball as pyb
from pybaseball import statcast
from pybaseball import statcast_pitcher, playerid_lookup
from pybaseball import pitching_stats_bref

In [14]:
import pandas as pd
import numpy as np

In [15]:
playerid_lookup('cole','gerrit')['key_mlbam'][0]

543037

In [16]:
cole = statcast_pitcher('2021-04-01', '2021-10-03', player_id = 543037)
cole

Gathering Player Data

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
0,CH,2021-09-29,90.3,-1.83,5.55,"Cole, Gerrit",624512,543037,field_out,hit_into_play,...,3,3,5,5,3,Standard,Standard,243.0,-0.014,-0.215
1,CH,2021-09-29,89.4,-1.78,5.57,"Cole, Gerrit",624512,543037,NaN,foul_tip,...,3,3,5,5,3,Standard,Standard,240.0,0.000,-0.048
2,FF,2021-09-29,97.4,-1.86,5.71,"Cole, Gerrit",624512,543037,NaN,ball,...,3,3,5,5,3,Standard,Standard,224.0,0.000,0.036
3,SL,2021-09-29,87.5,-1.73,5.75,"Cole, Gerrit",669289,543037,single,hit_into_play,...,3,3,5,5,3,Standard,Standard,75.0,0.007,0.139
4,SL,2021-09-29,87.9,-1.66,5.85,"Cole, Gerrit",669289,543037,NaN,called_strike,...,3,3,5,5,3,Standard,Standard,125.0,0.000,-0.018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2964,CH,2021-04-01,87.8,-1.90,5.60,"Cole, Gerrit",624415,543037,NaN,foul,...,0,0,0,0,0,Infield shift,Standard,242.0,0.000,-0.043
2965,KC,2021-04-01,82.2,-1.89,5.82,"Cole, Gerrit",624415,543037,NaN,ball,...,0,0,0,0,0,Infield shift,Standard,29.0,0.000,0.021
2966,FF,2021-04-01,96.6,-1.83,5.81,"Cole, Gerrit",624415,543037,NaN,called_strike,...,0,0,0,0,0,Infield shift,Standard,209.0,0.000,-0.027
2967,FF,2021-04-01,95.3,-1.78,5.79,"Cole, Gerrit",543760,543037,field_out,hit_into_play,...,0,0,0,0,0,Infield shift,Standard,209.0,0.022,-0.279
2968,FF,2021-04-01,97.7,-2.05,5.82,"Cole, Gerrit",543760,543037,NaN,ball,...,0,0,0,0,0,Infield shift,Standard,208.0,0.000,0.038

In [17]:
# Corrected from > 95 to >= 95.0
cole_hh = cole[cole['launch_speed'] >= 95.0]
cole_hh['launch_speed']

11       98.2
21       97.6
33      102.9
47      105.8
63      103.5
        ...
2948    106.3
2951    114.1
2952    102.6
2957    102.2
2967     99.9
Name: launch_speed, Length: 206, dtype: float64

In [19]:
cole_hard_hits = cole_hh[cole_hh['description'] == "hit_into_play"]
cole_hard_hits.shape[0]

170

In [23]:
stats_2021 = pitching_stats_bref(2021)
print(stats_2021['Name'], stats_2021['IP'], stats_2021['ERA'])

1          Fernando Abad
2            Cory Abbott
3           Albert Abreu
4            Bryan Abreu
5        Domingo Acevedo
             ...
940           T.J. Zeuch
941          Kyle Zimmer
942     Bruce Zimmermann
943    Jordan Zimmermann
944          Tyler Zuber
Name: Name, Length: 909, dtype: object 1      17.2
2      17.1
3      36.2
4      36.0
5      11.0
       ...
940    15.0
941    54.0
942    64.1
943     5.2
944    27.1
Name: IP, Length: 909, dtype: float64 1      5.60
2      6.75
3      5.15
4      5.75
5      3.27
       ...
940    6.60
941    4.83
942    5.04
943    7.94
944    6.26
Name: ERA, Length: 909, dtype: float64

/usr/local/lib/python3.7/dist-packages/pybaseball/league_pitching_stats.py:68: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  table = table.drop('',1)

In [22]:
WHHIP_cole = (41 + cole_hard_hits.shape[0])/(181.33)
print(round(WHHIP_cole, 3))

1.164

2021 Gerrit Cole's Hard-Hit WHIP (WHHIP): 0.673

---